@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body {
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(222,148,233,1) 100%);
}
input, textarea {
    width: 250px;
}
.navbar{
    background-color: #a20ad0 ;
}

/* -----Cart----- */
.cart-table td{
    vertical-align: middle;
    text-align: center;

}

.cart-table i{
    cursor: pointer;
}
.bi-trash {
    font-size : 25px;
    color: red;
    
}



/*

.products-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 100px;
    max-width: 650px;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 50px;
} 

.products-header{
    width: 100%;
    max-width: 650px;
    display: flex;
    justify-content: flex-start;
    border-bottom: 4px solid lightpink;
    margin: 0 auto;
}

.product-title{
    width:45%;
}

.price{
    width: 15%;
    display: flex;
    align-items: center;
}

.total{
    width: 15%;
    display: flex;
    align-items: center;
}

.product{
    width: 45%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 10px 0;
    border-bottom: 1px solid lightpink;
}

.products-container i{
    font-size: 25px;
    color: red;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
  }
   
*/